@charset "utf-8";


/* ==========================================================================================================

	 1. Structure Frame
 
============================================================================================================*/


.table02 {
border: 1px solid #03F
}
.table02 td {
padding:10px;
border: 1px solid #003DFF;
}
.send {
padding:10px;
width:100px;
}


body {
	font-size:12px;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	letter-spacing: 0.4em;
	background: url("../../img/header_bg.gif") repeat-x top;
}




div#wrapper {
	text-align		: left;
	margin			: 0px auto;
	width			: 960px;
}

h1{padding:0;}
h2{padding:0;}

/* ===== header ===== */
div#header {
	clear:both;
	margin: 0px auto;
	height:142px;
}
div#header h1 {
	float:left;
	width:415px;
}
div#header p {
	float:right;
	width:298px;
}

#g_navi { clear:both; }
#g_navi li{ float:left; height:39px; }






/* ===== container ===== */
div#container {
	clear			: both;
	margin			: 0px auto;
}

div#main {
	margin			: 0px auto;
	width:740px;
	float:right;
	font-size:12px;
	letter-spacing:0.1em;
}


/* ===== side ===== */
div#side {
	margin			: 0px auto;
	width:205px;
	float:left;
}

div#side #side-category {
	border: 1px solid #ACA8A9;
	margin:5px 0px 5px 2px;
	width:194px;
}






.top_title{font-weight:bold; padding-bottom:5px;}
#title_box{padding-bottom:40px;color: #e6eefa;}
.line_28{line-height:28px;}

.top_text1{ padding-bottom:94px;color: #e6eefa;}

.top_title2{ padding-bottom:53px; padding-top:83px;}

.mail{font-size:14px;padding-bottom:140px;letter-spacing:0.5em;color: #e6eefa;}
.mail a{color: #e6eefa;}



/*-- 動画 --*/
.move .box { margin:0px auto; width:640px; height:530px; }
.move iframe { width:640px; height:550px; border: 0px #ffffff ; overflow:hidden; margin:0px; }
.move .m-txt { margin:0px auto; width:630px; padding:10px 0px; }


/* ==========================================================================================================

	 2. Template Style
 
============================================================================================================*/

.arrow li {
background-image: url(../../img/menu_bg.jpg);
padding-left: 20px;
letter-spacing: 0.1em;
line-height: 20px;
padding-top: 2px;
}

.arrow3 li {
background-image: url(../../img/menu_bg.jpg);
padding-left: 20px;
letter-spacing: 0.1em;
line-height: 20px;
padding-top: 2px;
font-size:10px;
}

.arrow2 li {
padding-left: 0px;
letter-spacing: 0.1em;
line-height: 18px;
padding-top: 2px;
}

.arrow2 {
margin-bottom:10px;
}

.arrow3 {
margin-bottom:10px;
}

.h3_title {
background-image: url(../../img/h3_bg.jpg);
width: 725px;
height: 35px;
padding-left: 15px;
padding-top: 5px;
margin: 10px 0;
font-size: 16px;
font-weight: bold;
clear:both;
}


.select_ch{ clear:both;margin-bottom: 10px;float: left;}
.select_ch div{float:left; width:246px;}
.select_ch_ul{padding-left:7px}

.what_singu{
	background-image: url(../../img/what_singu_bg2.jpg);
	width:743px;
	height:650px;
}

.red_fnt16{font-size:16px !important; font-weight:bold; color:#F00; margin-bottom:10px;}

.what_singu p {
width: 500px;
line-height: 25px;
font-size: 14px;
}

/*  footer
-----------------------------------*/

#footer{
    clear: both;
	margin			: 0px auto;
}

#footer p{
	font-size:10px;
	padding-bottom:20px;
	color: #e6eefa;
}


/************************************************
 チェンソー用
************************************************ */


#chainsaw #explanation p { clear:both; margin: 0px; padding: 0px; }
#chainsaw #explanation ul { margin: 0px; padding: 0px; list-style: none; }
#chainsaw #explanation ul.photo { clear:both; width:700px; margin-top:10px; }
#chainsaw #explanation ul.photo li { height:159px; }
#chainsaw #explanation ul.photo li.l { width:177px; float:left; }
#chainsaw #explanation ul.photo li.r { width:168px; float:right; }




/************************************************
 チェンソー備品用
************************************************ */
#chainsaw #fixtures p { clear:both; margin: 0px; padding: 0px; }
#chainsaw #fixtures ul { margin: 0px; padding: 0px; list-style: none; }
#chainsaw #fixtures ul.photo { clear:both; width:700px; }
#chainsaw #fixtures ul.photo li { height:220px; }
#chainsaw #fixtures ul.photo li.l { width:235px; float:left; }
#chainsaw #fixtures ul.photo li.r { width:230px; float:right; }
#chainsaw #fixtures .table02,.table02 td,.table02 th { border-collapse:collapse; border:0px solid #ffffff; }
#chainsaw #fixtures .table02 { width:700px; margin:10px 0px 40px 0px; }
#chainsaw #fixtures .table02 td,.table02 th { border:0px solid #ffffff; padding:8px 0px;  border:3px solid #ffffff; }
#chainsaw #fixtures .table02 th { background:#D6E8D5; color:#052204; font-weight:bold; width:150px; text-align:center; }
#chainsaw #fixtures .table02 td { background:#EFF5EF; color:#001F00; text-align:left; padding:10px;}




/************************************************
 ガイドバー用
************************************************ */
#chainsaw #guidebar p { clear:both; margin: 0px; padding: 0px; }
#chainsaw #guidebar ul { margin: 0px; padding: 0px; list-style: none; }
#chainsaw #guidebar ul.photo { clear:both; width:700px; margin-top:10px; }
#chainsaw #guidebar ul.photo li { height:300px; }
#chainsaw #guidebar ul.photo li.l { width:350px; float:left; }
#chainsaw #guidebar ul.photo li.r { width:349px; float:right; }
#chainsaw #guidebar .table02,.table02 td,.table02 th { border-collapse:collapse; border:0px solid #ffffff; }
#chainsaw #guidebar .table02 { width:700px; margin:7px 0px 20px 0px; }
#chainsaw #guidebar .table02 td,.table02 th { border:0px solid #ffffff; padding:8px 0px; text-align:center; border:3px solid #ffffff; }
#chainsaw #guidebar .table02 th { background:#D6E8D5; color:#052204; font-weight:bold; width:300px; }
#chainsaw #guidebar .table02 td { background:#EFF5EF; color:#001F00; }




/************************************************
 ソーチェン（替刃）用
************************************************ */
#chainsaw #spare-chain p { clear:both; margin:0px; padding:0px; }
#chainsaw #spare-chain dl,dt,dd { margin:0px; padding:0px; }
#chainsaw #spare-chain .table01,.table01 td,.table01 th { border-collapse:collapse; border:0px solid #ffffff; }
#chainsaw #spare-chain .table01 { width:700px; margin:0px; padding:0px;  }
#chainsaw #spare-chain .table01 td,.table01 th { border:5px solid #ffffff; }
#chainsaw #spare-chain .table01 tr.g th { background:#2D452D;color:#ffffff; font-weight:bold; text-align:center; padding:0px 3px; }
#chainsaw #spare-chain .table01 tr.b th { background:#305367;color:#ffffff; font-weight:bold; text-align:center; padding:0px 3px; }
#chainsaw #spare-chain .table01 tr.g td { color:#627962; text-align:left; font-size:0.9em; padding:3px 0px; }
#chainsaw #spare-chain .table01 tr.b td { color:#5E6E8B; text-align:left; font-size:0.9em; padding:3px 0px; }
#chainsaw #spare-chain .table01 td.gry { background:#F5F5F5; }
#chainsaw #spare-chain .table01 p { padding-left:10px; }
#chainsaw #spare-chain .kome dl { width:700px; font-size:0.9em; line-height:1.25em; clear:both;  margin:0px; padding:0px; }
#chainsaw #spare-chain .kome dt { float:left; width:5%; text-align:right; }
#chainsaw #spare-chain .kome dd { float:right; width:93%; }
#chainsaw #spare-chain p.clear { padding-top:30px; }
#chainsaw #spare-chain p.sp { padding-bottom:40px }

.ft16{
	font-size: 16px;
}
.ft20{
	font-size: 20px;
}