@charset "utf-8";
/* CSS Document */

/*-- 動画 --*/
.move .box { margin:0px auto; width:640px; height:530px; }
.move iframe { width:640px; height:550px; border: 0px #ffffff ; overflow:hidden; margin:0px; }
.move .m-txt { margin:0px auto; width:630px; padding:10px 0px; }


.clear {clear:both;}
.center {text-align:center;}



/* ==========================================================================================================

	 2. Template Style
 
============================================================================================================*/

.h3_title2 , .h3_title2b {
background: url(../../img/title_bg_02.jpg) no-repeat;
width: 725px;
height: 70px;
padding-left: 30px;
padding-top: 8px;
font-size: 26px;
font-weight: bold;
clear:both;
color:#083DD7;
}
.h3_title2 { margin: 10px 0; }
.h3_title2b { margin: 30px 0 10px 0; }


.h3_title3 {
background-image: url(../../img/h3_bg.jpg);
width: 725px;
height: 35px;
padding-left: 15px;
padding-top: 2px;
margin: 10px 0;
font-size: 20px;
font-weight: bold;
clear:both;
}


/*-- recommend用 --*/
.h3_title4 {
background-image: url(../../img/h3_bg.jpg);
width: 725px;
height: 35px;
margin: 10px 0;
clear:both;
}
.h3_title4 p {
padding-left: 15px;
padding-top: 2px;
font-size: 20px;
font-weight: bold;
}
/*---------------*/


.h4_txt {
padding: 0px 0px 20px 15px;
clear:both;
font-size: 0.9em;
color:#666666;
}

.h4_title {
background-image: url(../../img/title_bg_01.jpg);
width: 725px;
height: 50px;
padding-left: 25px;
padding-top: 11px;
margin: 10px 0;
font-size: 16px;
font-weight: bold;
clear:both;
color:#083DD7;
}



.tit-bg-03 {
	background: url(../../img/title_bg_03.gif) no-repeat;
	width: 740px;
	height: 37px;
	margin: 0px;
	clear:both;
}
.tit-bg-03 p {
	padding: 5px 0px 0px 15px;
	font-size: 20px;
	font-weight: bold;
}



.reason p {
padding:5px 70px 0px 7px;
font-size: 16px;
}
.reason .center {
text-align:center;
}


#shiyoubetsu { clear:both; padding-top:20px; }
#shiyoubetsu h4 {
font-size:14px;
font-weight:bold;
}



#shiyoubetsu .table03 {
border: 1px solid #000;
}
#shiyoubetsu .table03 td {
text-align: center;
vertical-align: middle;
padding:10px;
border: 1px solid #000;
}
#shiyoubetsu .table03 th {
padding:10px;
border: 1px solid #000;
text-align: center;
background-color: #77ACFC;
}


/* ===== recommend ===== */
.r-waku {
	border: 1px solid #dddddd;
	padding:0px 0px 10px 3px;
}



/* ===== itemlist ===== */
#itemlist {
	width:740px;
	margin-bottom:20px;
	padding-top:8px;
}
#itemlist .waku-blue { background:#CCC8C8; padding:0px 4px 4px 4px; }
#itemlist .waku-white { background:#ffffff; padding:20px 20px 0px 20px; }

#itemlist dl.l { width: 240px; float:left; }
#itemlist dl.l2 { width: 211px; float:left; }
#itemlist dl.r { width: 211px; float:right; }
#itemlist dt { padding:5px 0px 15px 0px; }

#itemlist ul { margin:auto; }
#itemlist ul li {
	background: url(../../img/submenu_line.gif) no-repeat;
	width: 211px;
	height: 31px;
	clear:both;
}
#itemlist ul li p { padding:8px 10px; }
#itemlist .clear2 {
	clear:both;
	font-size:0px;
	line-height:0px;
}



#ranking {
	width:700px;
	margin:0px auto;
}
#ranking .txt { padding-top:10px; }
#ranking .ber { text-align:center; clear:both; }
#ranking h3 {
	color:#1438DD;
	font-size: 18px;
	font-weight:bold;
}

#ranking .ranking-123 { width: 640px; margin:0px auto; }
#ranking .ranking-123 dl.l { width: 230px; float:left; }
#ranking .ranking-123 dl.l2 { width: 182px; float:left; }
#ranking .ranking-123 dl.r { width:182px; float:right; }
#ranking .ranking-123 dt , #ranking .ranking-123 dd { width:182px; text-align:center; }
#ranking .ranking-123 dd strong { color:#FF0000; font-weight:bold; }

.mt10{ margin-top: 10px }

















/*==========*explanation*==========*/
#main .explanation-4 { padding:0px 0px 50px 0px; text-align:center; }

/*=============================*/
/*           sitemap           */
/*=============================*/
#main .sitemap { font-size:150%;width:650px; margin:0px auto; }
#main .sitemap .main-l { width:300px; float:left; padding-top:10px; }
#main .sitemap .main-r { width:300px; float:right; padding-top:10px; }
#main .sitemap h4 {
	background: url("../../img/menu_bg.jpg") no-repeat;
	width:350px;
	height:35px;
	clear:both;
	font-size:80%;
	border-bottom:1px dotted #cccccc;
	margin-bottom:20px;
}
#main .sitemap h4 p {
	color:#71AE30;
	padding:2px 0px 0px 20px;
	font-weight:bold;
	
}
/*
#main .sitemap h4 p a:link { color:#0d3500; text-decoration: none; }
#main .sitemap h4 p a:visited { color:#0d3500; text-decoration: none; }*/
#main .sitemap h4 p a:hover { color:#71AE30; text-decoration: none; }
#main .sitemap h4 p a:active { color:#71AE30; text-decoration: none; }


#main .sitemap ul {
	list-style-type:disc;
	margin:10px 0px 20px 0px;
	padding:0px;
}

#main .sitemap ul li {
	list-style-type:disc;
	padding:0px;
	margin:0px 0px 15px 40px;
	line-height:130%;
}
#main .sitemap ul li a:link { color:#333333; text-decoration: none; }
#main .sitemap ul li a:visited { color:#333333; text-decoration: none; }
#main .sitemap ul li a:hover { color:#71AE30; text-decoration: none; }
#main .sitemap ul li a:active { color:#71AE30; text-decoration: none; }






/*=============================*/
/*         *useguide*          */
/*=============================*/
#main .ug-btn a:hover img{
	opacity			: 1;
	filter			: alpha(opacity=100);
}


/*=============================*/
/*           *contact*         */
/*=============================*/
.form-contact2 {
	width:650px;
	margin:0px auto;
	font-size:0.9em;
}

.form-contact2 table , .form-contact2 table th , .form-contact2 table td {
	border-collapse:collapse;
	padding:8px 10px;
	border:1px solid #71AE30;
	margin:0px;
}
form-contact2 table { width:100%;}
.form-contact2 table th { text-align:left; background:#A9E36C; font-weight:bold; color:#123902; }
.form-contact2 table td { font-weight:normal; background:#ffffff; }

.form-contact2 table td input { margin-right:10px; padding:5px; }
.form-contact2 table td select { margin-right:10px; padding:5px; width:200px; }
.form-contact2 table th span { background:#FFA400; color:#ffffff; margin-left:10px; padding:2px 3px; font-size:0.9em; }

.form-contact2 p.order-btn { background:#FFC000; padding:10px; text-align:center; margin-top:20px; }
.form-contact2 p.order-btn input { padding:5px 10px; width:100px; margin:0px 10px; }



/*=============================*/
/*           *tel*         */
/*=============================*/



#tel-guide table.tel-t , #tel-guide table.tel-t th , #tel-guide table.tel-t td {
	border-collapse:collapse;
	border:1px solid #eeeeee;
}
#tel-guide table.tel-t { width:600px; margin:0px auto;}
#tel-guide table.tel-t th { text-align:left; background:#eeeeee; font-weight:bold; text-align:center;padding:5px 0px; }
#tel-guide table.tel-t td { font-weight:normal; background:#ffffff;padding:20px; }

.explanation-2 { padding:10px 0px 50px 0px; }
.explanation-2 .sp { padding:20px 0px; }




/*============*bookmark*============*/
.bookmark {
	text-align:right;
	padding:20px 0px;
	font-weight:bold;
}
.bookmark strong { font-size:110%; padding:0px 5px; }
.bookmark span { font-size:90%; font-weight:normal; }

.bookmar2 {
	text-align:center;
	padding:20px 0px;
}






/*============*form-contact2*============*/

#tel-guide .form-contact2 {
    font-size: 0.9em;
    margin: 0 auto;
    width: 700px;
}
#tel-guide .form-contact2 table, #tel-guide .form-contact2 table th, #tel-guide .form-contact2 table td {
    border: 1px solid #71ae30;
    border-collapse: collapse;
    margin: 0;
    padding: 8px 10px;
}
#tel-guide .form-contact2 table {
    width: 100%;
}
#tel-guide .form-contact2 table th {
    background: #a9e36c none repeat scroll 0 0;
    color: #123902;
    font-weight: bold;
    text-align: left;
}
#tel-guide .form-contact2 table td {
    background: #ffffff none repeat scroll 0 0;
    font-weight: normal;
}
#tel-guide .form-contact2 table td input {
    margin-right: 10px;
    padding: 5px;
}
#tel-guide .form-contact2 table td select {
    margin-right: 10px;
    padding: 5px;
    width: 50px;
}
#tel-guide .form-contact2 table th span.red {
    background: #ffa400 none repeat scroll 0 0;
    color: #ffffff;
    font-size: 0.9em;
    margin-left: 10px;
    padding: 2px 3px;
}
#tel-guide .form-contact2 table th span.blue {
    background: #51a2e7 none repeat scroll 0 0;
    color: #ffffff;
    font-size: 0.9em;
    margin-left: 10px;
    padding: 2px 3px;
}
#tel-guide .form-contact2 p.order-btn {
    background: #ffc000 none repeat scroll 0 0;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}
#tel-guide .form-contact2 p.order-btn input {
    margin: 0 10px;
    padding: 5px 10px;
    width: 100px;
}

#tel-guide .form-contact2 table td .atten-txt {
	color:#e2141e;
	font-weight:bold;
	font-size:90%;
	padding-top:5px;
}
#tel-guide .form-contact2 .atten-box {
	border: 1px solid #cccccc;
	padding:10px 20px;
}
#tel-guide .form-contact2 .atten-box .tit {
	color:#e2141e;
	font-weight:bold;
	text-align:center;
	font-size:140%;
	line-height:100%;
	padding-bottom:10px;
}