@charset "utf-8";


/* ==========================================================================================================

	 Css For Upsell
 
============================================================================================================*/

div#main.upsell {
	width:810px;
	margin: 0 auto;
	font-size:12px;
	letter-spacing:0.1em;
	float: none;
	padding-top: 20px;
}
div#main.upsell h2{
	margin-bottom: 20px;
}
div#main.upsell .mb10{
	margin-bottom: 10px;
}
div#main.upsell .mb20{
	margin-bottom: 20px;
}
.red{ color: #F00}
.blue{ color: #00F}
.radioBox{
	padding: 20px 10px;
	border: solid 2px #00f;	
}
#upsellProduct{
	width: 760px;
	margin: 30px 0;
}
#upsellProduct td label{
	margin-bottom: 10px;
	display: block;
}
#upsellProduct td.img{
	text-align: center;
}