#order_details .header h1{
	text-align: left;
    border-left: solid 4px #cc0000;
    display: block;
    padding: 2px 5px;
    margin-top: 1.5em;
    font-weight: bold;
}

#order_details table td{
	padding: 5px 10px;
	border: 1px solid #ccc;
}

#order_details a{
	padding: 5px;
    margin: 15px 15px 10px 0;
    display: inline-block;
    border-radius: 4px;
}

#order_details a.btn-back{
	background-color: #ccc;
	color: #000;
}
#order_details a.btn-final-submit{
    background-color: #1e90ff;
    color: #fff;
}