@charset "shift_jis";
/* CSS Document */

#top_photo  {
	padding: 0px;
}

#top_photo p {
	text-align: left;
	font-size: 16px;
	margin-top: 25px;
	margin-bottom: 0px;
	padding-left: 70px;
	clear: both;
}

#top_photo_article {
	margin-left: 0px;
	overflow: hidden;
}
#top_photo_article img {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-right: 15px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	float: left;
	width: 362px;

}
#top_photo_article img#top_photo03 {
	margin-right: 0px;
	float:right;
	width: 362px;
}

/*itembtn_bloc*/
.itembtn_bloc {
	margin: 0px;
	padding: 0px;
	width: 740px;
}
#btm_reason .a_right {
	text-align: right;
	font-size: 16px;
	margin-bottom: 10px;
}
.main .sec.cf #f_right {
	text-align: right;
}


.itembtn_bloc p {

}
.itembtn_bloc ul {
	display: block;
	clear: both;
	list-style-type: none;
	margin-bottom: 15px;
}
.itembtn_bloc li {
	display: block;
	float: left;
	width: 236px;
	margin-right: 15px;
}
.itembtn_bloc li.li_last {
	margin-right:0px;
	margin-bottom: 15px;
}
.itembtn_bloc.cf ul li p {
}
.itembtn_bloc.cf ul li p span {
	font-size: 11px;
}


.txt-red {
	font-weight:bold;
	color:#FF0000;
	padding:0px 3px;
}


/*=============================*/
/*           download          */
/*=============================*/
.download-box dl,.download-box dt,.download-box dd {
	margin			: 0;
	padding			: 0;
   	font-weight		: normal;
	font-style		: normal;
	list-style		: none;
}

.download-box {
	width:700px;
	margin:auto;
}
.download-box .download dl {
	width:200px;
	margin:auto;
}
.download-box .download dl dt {
	width:200px;
	text-align:center;
}
.download-box .download dl dd {
	width:200px;
	text-align:center;
	padding:10px 0px 20px 0px;
}
.download-box .dl-pdf { background:#eeeeee; padding:10px 15px; margin:0px auto; font-size:12px; }
.download-box .dl-pdf dl { height:33px; }
.download-box .dl-pdf dl dt { width:120px; float:left; }
.download-box .dl-pdf dl dd { width:530px; float:right; line-height:130%; text-align:left; }












/*==========*explanation*==========*/
.main .explanation-4 { padding:0px 0px 50px 0px; text-align:center; }

/*=============================*/
/*           sitemap           */
/*=============================*/
.main .sitemap { font-size:140%; width:650px; margin:0px auto; }
.main .sitemap .main-l { width:300px; float:left; }
.main .sitemap .main-r { width:300px; float:right; }
.main .sitemap h4 {
	background: url("../img/left_arrow2.gif") no-repeat;
	width:300px;
	height:35px;
	clear:both;
	font-size:80%;
	border-bottom:1px dotted #cccccc;
	margin-bottom:20px;
}
.main .sitemap h4 p {
	color:#71AE30;
	padding:2px 0px 0px 20px;
	font-weight:bold;
	
}

.main .sitemap h4 p a:link { color:#0d3500; text-decoration: none; }
.main .sitemap h4 p a:visited { color:#0d3500; text-decoration: none; }
.main .sitemap h4 p a:hover { color:#71AE30; text-decoration: none; }
.main .sitemap h4 p a:active { color:#71AE30; text-decoration: none; }


.main .sitemap ul {
	list-style-type:disc;
	margin:10px 0px 20px 0px;
	padding:0px;
}

.main .sitemap ul li {
	list-style-type:disc;
	padding:0px;
	margin:0px 0px 15px 40px;
	line-height:130%;
}
.main .sitemap ul li a:link { color:#333333; text-decoration: none; }
.main .sitemap ul li a:visited { color:#333333; text-decoration: none; }
.main .sitemap ul li a:hover { color:#71AE30; text-decoration:underline; }
.#main .sitemap ul li a:active { color:#71AE30; text-decoration:underline; }


/*=============================*/
/*           faq          */
/*=============================*/

.faq dl { width:700px; margin:0px auto; text-align:left; }
.faq dl dt { 
	color:#2b7304;
	padding:5px 15px;
	background:#e9f2d3;
}
.faq dl dt p { 
	font-weight:bold;
	font-size:110%;
	line-height:150%;
}

.faq dl dd {
	padding:15px 15px;
	background: url("useguide/img/faq_icon_a.gif") no-repeat;
	font-size:95%;
}
.faq dl dd p { padding-left:35px; }
.faq dl dd strong { color:#FF0000; font-weight:bold; }


.faq p { margin: 0px; padding: 0px; }
.faq ul { margin: 0px; padding: 0px; list-style: none; }
.faq li { margin: 0px; padding: 0px; }
.faq dl { margin: 0px; padding: 0px; }
.faq dt { margin: 0px; padding: 0px; }
.faq dd { margin: 0px; padding: 0px; }



/*=============================*/
/*         *useguide*          */
/*=============================*/
.main .ug-btn a:hover img{
	opacity			: 1;
	filter			: alpha(opacity=100);
}


/*=============================*/
/*           *contact*         */
/*=============================*/
.form-contact {
	width:700px;
	margin:0px auto;
	font-size:0.9em;
	text-align:left;
}

.form-contact table , .form-contact table th , .form-contact table td {
	border-collapse:collapse;
	padding:8px 10px;
	border:1px solid #71AE30;
	margin:0px;
}
.form-contact table { width:100%;}
.form-contact table th { text-align:left; background:#A9E36C; font-weight:bold; color:#123902; }
.form-contact table td { font-weight:normal; background:#ffffff; }

.form-contact table td input { margin-right:10px; padding:5px; }
.form-contact table td select { margin-right:10px; padding:5px; width:200px; }
.form-contact table th span { background:#FFA400; color:#ffffff; margin-left:10px; padding:2px 3px; font-size:0.9em; }

.form-contact p.order-btn { background:#FFC000; padding:10px; text-align:center; margin-top:20px; }
.form-contact p.order-btn input { padding:5px 10px; width:100px; margin:0px 10px; }



/*=============================*/
/*           *tel*         */
/*=============================*/

#tel-guide {
	margin:0px auto;
	width: 700px;
	clear:both;
	text-align:left;

}
#tel-guide h4 {
	border-left:5px solid #285cbf;
	border-bottom:1px solid #285cbf;
	margin:10px 0px 20px 0px;
}
#tel-guide h4 p {
	padding:3px 10px;
	font-weight:bold;
	margin:0px;
	line-height:140%;
}

#tel-guide table.tel-t , #tel-guide table.tel-t th , #tel-guide table.tel-t td {
	border-collapse:collapse;
	border:1px solid #eeeeee;
}
#tel-guide table.tel-t { width:600px; margin:0px auto;}
#tel-guide table.tel-t th { text-align:left; background:#eeeeee; font-weight:bold; text-align:center;padding:5px 0px; }
#tel-guide table.tel-t td { font-weight:normal; background:#ffffff;padding:20px; }

.explanation-2 { padding:0px 0px 50px 0px; }
.explanation-2 .sp { padding:20px 0px; }
.explanation-2 .center {  text-align:center; }



/*============*bookmark*============*/
.bookmark {
	text-align:right;
	padding:20px 0px;
	font-size:110%;
	font-weight:bold;
}
.bookmark span { font-size:90%; font-weight:normal; }

.bookmar2 {
	text-align:center;
	padding:20px 0px;
}




/*============*form-contact2*============*/

#tel-guide .form-contact2 {
    font-size: 0.9em;
    margin: 0 auto;
    width: 700px;
}
#tel-guide .form-contact2 table, #tel-guide .form-contact2 table th, #tel-guide .form-contact2 table td {
    border: 1px solid #71ae30;
    border-collapse: collapse;
    margin: 0;
    padding: 8px 10px;
}
#tel-guide .form-contact2 table {
    width: 100%;
}
#tel-guide .form-contact2 table th {
    background: #a9e36c none repeat scroll 0 0;
    color: #123902;
    font-weight: bold;
    text-align: left;
}
#tel-guide .form-contact2 table td {
    background: #ffffff none repeat scroll 0 0;
    font-weight: normal;
}
#tel-guide .form-contact2 table td input {
    margin-right: 10px;
    padding: 5px;
}
#tel-guide .form-contact2 table td select {
    margin-right: 10px;
    padding: 5px;
    width: 50px;
}
#tel-guide .form-contact2 table th span.red {
    background: #ffa400 none repeat scroll 0 0;
    color: #ffffff;
    font-size: 0.9em;
    margin-left: 10px;
    padding: 2px 3px;
}
#tel-guide .form-contact2 table th span.blue {
    background: #51a2e7 none repeat scroll 0 0;
    color: #ffffff;
    font-size: 0.9em;
    margin-left: 10px;
    padding: 2px 3px;
}
#tel-guide .form-contact2 p.order-btn {
    background: #ffc000 none repeat scroll 0 0;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}
#tel-guide .form-contact2 p.order-btn input {
    margin: 0 10px;
    padding: 5px 10px;
    width: 100px;
}

#tel-guide .form-contact2 table td .atten-txt {
	color:#e2141e;
	font-weight:bold;
	font-size:90%;
	padding-top:5px;
}
#tel-guide .form-contact2 .atten-box {
	border: 1px solid #cccccc;
	padding:10px 20px;
}
#tel-guide .form-contact2 .atten-box .tit {
	color:#e2141e;
	font-weight:bold;
	text-align:center;
	font-size:140%;
	line-height:100%;
	padding-bottom:10px;
}