@charset "UTF-8";

#landing_form-wrapper {
    position: relative;
}

#required_box {
/*     display: none; */
	width: 180px;
    display: block;
    margin: 20px 0px -50px 400px;
    padding: 15px 25px;
/*  background-color: #0088bb; */
    background-color: red;
    color: #FFFFFF;
    text-align: left;
    white-space: nowrap;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
/*     position: absolute; */
/*     top: -35px; */
/*     right: 15px; */
    box-shadow: 4px 4px 4px rgba(6,6,6,0.3);
}
html > body #required_box {
    background-image: url("../img/icon_efo_required_box.png");
    background-position: right bottom;
    background-repeat: no-repeat;
}
#required_box.complete {
    background-color: #008000;
}
#required_box.complete #efo_required_remaining {
    font-weight: bold;
    font-size: 14px;
}
#required_box strong {
    font-weight: bold;
    font-size: 14px;
}
