/*
Theme Name: Chainsaw
Author: Freemight
Author URI: http://freemight.com/
Description: Chainsaw Theme
Version: 1.0
*/


/*****************************************************************************************************
==== from old site - start
******************************************************************************************************/
@import url("common/css/import.css");
/*****************************************************************************************************
==== from old site - end
******************************************************************************************************/


/* -- old style modifier -- */
body {
	background: none;
	letter-spacing: unset;
	position: relative;
	z-index: 1;
}



/* -- base -- */


/* -- layout -- */
.l-gutter {
	padding-left: 15px;
	padding-right: 15px;
}
.l-content {
	width: 100%;
	max-width: 985px;
	margin: 0 auto;
}
.l-grid {
	font-size: 0px;
}
.l-grid .l-grid-col {
	font-size: 14px;
	display: inline-block;
	vertical-align: top;
}
.l-grid.l-grid-2cols {}
.l-grid.l-grid-2cols .l-grid-col {
	width: 50%;
}
.l-grid.l-grid-3cols {}
.l-grid.l-grid-3cols .l-grid-col {
	width: 33.33%;
}
.l-grid.l-grid-4cols {}
.l-grid.l-grid-4cols .l-grid-col {
	width: 25%;
}
.l-grid.l-grid-5cols {}
.l-grid.l-grid-5cols .l-grid-col {
	width: 20%;
}
.l-table {
	display: table;
}
.l-table .l-table-row {
	display: table-row;
	width: 100%;
}
.l-table .l-table-cell {
	display: table-cell;
	vertical-align: top;
}
.l-table .l-table-cell.l-table-cell-middle {
	vertical-align: middle;
}
.l-header {}
#js-container-whole {
	position: relative;
	z-index: 2;
	background: white;
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-ms-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	right: 0px;
	-moz-transition: right 0.5s ;
	-webkit-transition: right 0.5s ;
	-o-transition: right 0.5s ;
	-ms-transition: right 0.5s ;
	transition: right 0.5s ;
}

.main {
    float: right;
    width: 740px;
    padding-right: 0px;
    overflow: hidden;
}
.side {
    float: left;
    height: auto;
    /*width: 200px;*/
    /*width: 180px;*/
    width: 205px;
}

.wrapper {
	width: initial;
}
.footer {
	width: 100%;
	max-width: 955px;
}




/* -- module -- */
.header-logo {
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
}
.header-logo img {}
.header-bannercontact {
	margin-bottom: 10px;
	background: url('images/banner-contact-1.png') no-repeat;
	width: 180px;
	height: 91px;
	float: right;
}
.header-bannercontact p {
	margin: 0px;
	padding: 0px;
	color: white;
	text-align: center;
}
.header-bannercontact .header-bannercontact-msg {
	font-size: 11px;
	margin-top: 12px;
}
.header-bannercontact .header-bannercontact-num {
	font-size: 22px;
}
.header-bannercontact .header-bannercontact-time {
	font-size: 11px;	
}

.nav {}
.nav.nav-header {}
.nav.nav-header.nav-header-pc {
	border-bottom: 2px solid #333333;
}
.nav.nav-header.nav-header-pc ul {}
.nav.nav-header.nav-header-pc ul li {
	text-align: center;
	border-bottom: 5px solid white;
}
.nav.nav-header.nav-header-pc ul li:hover {
	border-bottom: 5px solid #333333;
}
.nav.nav-header.nav-header-pc ul li a {
	color: #333333;
	text-decoration: none;
	display: block;
	padding: 5px 0;
}
.nav.nav-header.nav-header-sp {
	border-top: 2px solid #333333;
	border-bottom: 2px solid #333333;
}
.nav.nav-header.nav-header-sp ul {}
.nav.nav-header.nav-header-sp ul li {
	text-align: center;
}
.nav.nav-header.nav-header-sp ul li:hover {}
.nav.nav-header.nav-header-sp ul li a {
	color: #333333;
	text-decoration: none;
	display: block;
	padding: 12px 0;
}

.nav-header-slide {
	position: relative;
}
.nav-trigger {
	cursor: pointer;
	width: 50px;
	height: 40px;
	position: absolute;
	right: 0px;
	top: 26px;
}
.nav-trigger .nav-trigger-bar {
	height: 3px;
	width: 70%;
	background: #333333;
	position: absolute;
	left: 50%;
	-ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.nav-trigger .nav-trigger-bar-top {
	top: 19%;
}
.nav-trigger .nav-trigger-bar-middle {
	top: 50%;
	-ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.nav-trigger .nav-trigger-bar-bottom {
	bottom: 19%;
}

.side-nav {
	background: #f8f8f8;
	color: #333333;
}
/*.side-nav:nth-child(3n+3) {
	margin-bottom: 30px;
}*/
.side-nav .side-nav-h {
	background: #1e3ca0;
	color: white;
	margin: 0px;
	padding: 5px 10px;
	font-size: 12px;
}
.side-nav .side-nav-h-sub {
	background: #8DC6FF;
	color: #444;
	margin: 0px;
	padding: 5px 10px;
	font-size: 12px;	
}
.side-nav ul {}
.side-nav ul li {
	padding: 5px 10px;
}
.side-nav ul li a {
	color: #333333;
	font-size: 11px;
	display: block;
	position: relative;
}
.side-nav ul li a:after {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 3px 0 3px 4px;
	border-color: transparent transparent transparent #1e3ca0;
	right: 0px;
	top: 50%;
	-ms-transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
}


.aside-slide {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: -1;
	width: 205px;
}

/* -- state -- */
#js-container-whole.is-slided {
	right: 205px;
}


/* -- helpers -- */
.align-center {
	text-align: center;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.width-full {
	width: 100%;
}
.align-middle {
	vertical-align: middle;
}
.display-pc {}
.display-sp {
	display: none;
}



/* -- media -- */
@media screen and (max-width:960px ) {
	/* -- old style modifier -- */
	/*top*/
	#itemlist {
		width: 100%;
	}
	#itemlist .tit-bg-03 {
		width: 100%;	
	}
	#itemlist .tit-bg-03 p {
		word-break: keep-all;
		overflow: hidden;
	}
	#itemlist .waku-white dl {
		float: left;
	}
	.h3_title {
		width: 100%;
		overflow: hidden;
		word-break: keep-all;
		display: block;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}
	.h4_title {
		width: 100%;
		overflow: hidden;
		word-break: keep-all;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}
	

	/* Layouts ----------------------------------------------------------- */
	.main {
		float: none;
		width: 100%;
	}

	/* Helpers ----------------------------------------------------------- */
	.display-pc {
		display: none;
	}
	.display-sp {
		display: block;
	}
	.w-sp-res {
		width: 100% !important;
		height: auto !important;
	}

}

@media screen and (max-width:768px ) { 
	/* Modules ----------------------------------------------------------- */
	.header-logo img {
		width: 200px;
	}
	.nav-trigger {
		top: 16px;
	}
}


@media screen and (max-width:600px ) { 
	html #wpadminbar {
		position: fixed;
	}
}


@media screen and (max-width:568px ) { 
	/* Layouts ----------------------------------------------------------- */

	/* Modules ----------------------------------------------------------- */
	.nav.nav-header.nav-header-sp ul li a {
		font-size: 12px;
	}

	/* Helpers ----------------------------------------------------------- */
	

}

@media screen and (max-width:468px ) { 

	

}


